p {
  font-family: "Roboto Slab", sans-serif;
}

h1 {
  font-family: "Noto Serif JP", serif;
}

.navbar-brand {
  font-family: "Noto Serif JP", serif;
  text-decoration: none;
  font-size: 1.5em;
}

body {
  margin: 0;
}

/* --------header--------- */
header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.05) 11%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/The-Woods-edited.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ----------navbar--------- */
.shop-links {
  align-content: flex-end;
  text-decoration: none;
}

.active {
  text-decoration: underline antiquewhite;
}

/* ---------hero-------- */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 80%);
  height: 50vh;
  display: flex;
  justify-content: center;
}

.hero-content {
  color: antiquewhite;
  display: flex;
  justify-content: center;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav {
  width: 100%;
  height: 50px;
  color: antiquewhite;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  height: 40px;
  width: 150px;
  margin-left: 50px;
}
.nav-list li {
  display: flex;
  justify-content: space-around;
  padding: 25px;
  width: 40px;
}

nav ul {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: center;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.shop-links {
  display: flex;
  justify-content: space-around;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  margin-right: 25px;
}

.menu-button svg {
  height: 25px;
  width: 25px;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button #bottom,
.menu-button #middle {
  transition: 0.4s;
  transform-origin: 50% 50%;
}

.menu-button:hover #middle {
  width: 100px;
  transform: rotate(180deg);
}

.menu-button:hover #bottom {
  width: 100px;
}

@media (max-width: 600px) {
  .menu-button {
    display: block;
  }

  .nav-list {
    display: none;
  }
}

/* ------product cards ------- */

.product-container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  max-width: 1200px;
  margin: auto;
}

.shop-title {
  display: flex;
  justify-content: center;
}

.product-card {
  height: 350px;
  width: 350px;
  margin: 30px 15px;
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}

.product-card h1 {
  color: rgb(0, 0, 0);
  font-weight: 2em;
  opacity: 0;
  transform: translate(0, 60px);
  transition: 0.35s;
}

.product-card:hover h1 {
  opacity: 1;
  transform: translate(0, 0);
}
.fruits {
  background: url("../images/fruitimage-fixed.jpg");
  transition: 0.3s;
}

.fruits:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/fruitimage-fixed.jpg");
}
.vegetables {
  background: url("../images/vegetableimage-fixed.jpg");
  transition: 0.3s;
}

.vegetables:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/vegetableimage-fixed.jpg");
}
.flowers {
  background: url("../images/flowersimage-fixed.jpg");
  transition: 0.3s;
}

.flowers:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/flowersimage-fixed.jpg");
}
.herbs {
  background: url("../images/herbsimage-fixed.jpg");
  transition: 0.3s;
}

.herbs:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/herbsimage-fixed.jpg");
}

.tropicals {
  background: url("../images/tropicalsimage-fixed.jpg");
  transition: 0.3s;
}

.tropicals:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/tropicalsimage-fixed.jpg");
}
.landscaping {
  background: url("../images/landscapingimage-fixed.jpg");
  transition: 0.3s;
}

.landscaping:hover {
  background: linear-gradient(
      33deg,
      RGBA(227, 255, 231, 0.5) 0%,
      RGBA(217, 231, 255, 0.5) 100%
    ),
    url("../images/landscapingimage-fixed.jpg");
}

/* -----------------Main content----------- */
.full-text-container {
  margin: 0 auto;
}

.text {
  text-align: center;
}

/* ---------footer--------- */
.ftr-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 25px;
  max-width: 1200px;
}

.ftr-wrapper ul {
  display: flex;
  width: 100px;
  list-style: none;
}

.footer-box {
  display: flex;
}

footer a {
  color: #2d2d2d;
}

footer a:hover {
  text-decoration: underline black;
  color: black;
}

.ftr-list {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

@media (max-width: 600px) {
  .ftr-wrapper {
    flex-direction: column;
  }
}

.icon-box {
  display: flex;
  padding: 0;
}

.icon-box .fab {
  margin-right: 25px;
  margin-bottom: 15px;
}
